#gameBoard{
  text-align: center;
}

#gameCanvas {
  border: 5px solid;
  background-color: lightgreen;
}

#score {
  font-family: "Consolas";
  font-size: 60px;
  margin: 10px;
}

#resetBtn {
  font-family: "Consolas";
  font-size: 1.2rem;
  width: 130px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

#diff-select {
  font-family: "Consolas";
  text-align: center;
  border: 2px solid black;
  font-size: 1.2rem;
  width: 130px;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(241, 241, 241);
}

html {
  background-color: antiquewhite;
}